Django==2.0.3
pytest==3.3.2
python-dateutil==2.6.1
python-mimeparse==1.6.0
pytz==2018.3
PyWavelets==0.5.2
pywin32==222
pywinpty==0.5
PyYAML==3.12
pyzmq==16.0.3
urllib3==1.22
Werkzeug==0.14.1
widgetsnbextension==3.1.0
