
.login-hdr{
    background-color:gold;
    padding:1rem .4rem;
    margin-top:10px;
    border-radius:5px;
}
.login-body{
    padding:1rem 1rem;
    border-radius:5px;
}
.user-form{
    padding:.2rem;
    margin:.5rem;
    border-radius:5px;
}
.helptext, .helptext ul{
    margin:0 auto 20px;
    color:black;
    font-size:0.8rem;
    display:block;

}
.errorlist li{
    padding:10px;
    list-style-type:none;
    border: 1px solid #ff5722;
    color:#ff5722;

}
.errorlist{
    padding:0;
}
.btn{
    margin-top:2rem;
}
a, a:hover, a:visited{
    text-decoration: none;
}
.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.blog{
    padding: 10px,10px;
    position: relative;
    padding-bottom: 40px;
    border-radius: 18px;
}

.blog h2{
    font-size: 1.2em;
}

.blog .author{
    padding: 10px;
    background: #00dba0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f;
}

.blog-detail .blog{

    padding: 1rem;
    margin:2rem 2rem;
}

.blog-detail  .blog img{
    max-width: 100%;
    max-height:500px;
}

.blog-detail  .blog h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2em
}

.blog-detail{
       border: 1px solid #0011;
       margin:5px;
}
.blog-detail .blog h3{
    text-align: center;
}

.blog-detail  .blog p{
    margin: 10px 20px
}
.user-form input, .user-form textarea{
    display: block;
    margin: 20px 0 10px 0;
    padding: 10px 1;
}
.row{
    margin-top:3rem;
}
a.highlight{
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
    color: #00dba0;
}

.user-form input[type="submit"]{
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}
.navbar-wrapper{
    padding: 0rem 3rem;

}
.nav{
    background-color:black;
    }
.footer-copyright{
background-color:#ee6e73;
padding:1rem 2rem;
}
.comment-form {
    padding:.2rem;
    margin:.5rem;
    border-radius:5px;
}
input#id_comment{
    border-radius:5px;
    border:solid 2px #11111;
    background-color:white;
}
.comments{
    padding:.3rem .3rem .3rem .5rem;
    margin:.5rem;
    border-radius:5px;
    background-color:white;
}