{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}
        <div class="parallax-container">
        <div class="parallax"><img src="{% static '/banner.png' %}" alt=""></div>
    </div>
    <p class="center">Below are some of interesting reads about flowers from all around the world!</p>
    <p class="center">You can contribute to the list below by signing up and creating your own blogs. Happy reading!
    </p>
    <div class="">
      {% if blogs %}
         {% for b in blogs %}
            <div class="">
              <h4><a href="{% url 'bloglist:detail' slug=b.slug %}">{{ b.title }}</a></h4>
              <p>{{ b.snippet }}</p>
              <p>{{ b.date }}</p>
            </div>
         {% endfor %}
      {% else %}
        <p>There are no Blogs!</p>
      {% endif %}
    </div>
{% endblock %}